* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app-container {
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#app-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2.75em;
  color: #ffffff;
}

#app-body {
  background-color: #ffffff;
  height: 500px;
  width: 60%;
  border-radius: 1rem;
  padding: 2rem;
}

#currency-input-container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-currency {
  height: 3rem;
  width: 4rem;
  font-size: 1.15em;
  outline: none;
  border: none;
}

option {
  font-size: 0.85em;
}

#input-currency-container {
  height: 3rem;
  display: flex;
  flex-direction: column;
}

#currency-input-div {
  flex: 0.9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

#currency-input {
  outline: none;
  border: none;
  font-size: 1.15em;
  text-align: right;
  height: 100%;
}

#currency-text {
  font-size: 0.85em;
  text-align: right;
  flex: 0.1;
}

#currency-output-container {
  background-color: blue;
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
}

#num-pad-container {
  background-color: chartreuse;
  width: 100%;
  height: 10rem;
  margin-top: 2rem;
}